aside {
    background-color: var(--gray-100);

    padding-block: 88px 120px;
}

aside > div {
    max-width: 888px;
    margin: auto;
}

.service-card {
    padding: 20px;

    border: 2px solid var(--gray-200);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;
}

.service-card-text {

    h5 {
        text-align: left;
        margin-bottom: 8px;
    }
}