#header {
    background: url("../assets/images/Background_Intro.png") no-repeat center;
    background-size: 100%;

    margin-block: 120px 60px;
}

#header .container {
    text-align: center;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 56px;

    text-align: center;
}

.avatar {
    border: 2px solid var(--red);
    border-radius: 999px;

    margin-top: 6px;
    padding: 4px;
    
    img {
        display: block;
    }
}

.info {
    margin-bottom: 80px;

    h2 {
        margin-bottom: 8px;
    }

    h1 {
        margin-bottom: 20px;
    }
}

#intro-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    margin-bottom: 94px;
}

.tag {
    padding: 8px 16px;

    background-color: var(--gray-300);
    border-radius: 999px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow-down {
    margin-inline: auto;
    display: block;
    width: 32px;
    height: 32px;
    background: url("../assets/icons/arrow-down.svg") no-repeat center;
}